<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\tplex\Downloads\ProjectEvalutionSystem.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>multitrends-001-site1</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProjectEvalutionSystemEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5109.site4now.net;Initial Catalog=db_a7f4bf_pes;User ID=db_a7f4bf_pes_admin;Password=Inter123net!" Name="Data Source=SQL5109.site4now.net;Initial Catalog=db_a7f4bf_pes;User Id=db_a7f4bf_pes_admin;Password=Inter123net!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProjectEvalutionSystem.Models.ProjectEvalutionSystemEntities, ProjectEvalutionSystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ProjectEvalutionSystemEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DBModel.csdl|res://*/Models.DBModel.ssdl|res://*/Models.DBModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5109.site4now.net;Initial Catalog=db_a7f4bf_pes;User Id=db_a7f4bf_pes_admin;Password=Inter123net!"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>