
@{
    ViewBag.Title = "Index";
}
<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            Evalution Index
        </h3>
        <div class="card-toolbar">
            <a href="#" class="btn btn-text-info btn-hover-light-info font-weight-bold mr-2" data-toggle="modal" data-target="#ModalCreateNewEvalution">Evalute Assignment</a>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-12" style=" overflow: auto">
                <table id="kt_datatable" class="table-bordered table table-hover" style="min-height:400px"></table>
            </div>
        </div>
    </div>
</div>

<!-- Modal-->
<div class="modal fade" id="ModalCreateNewEvalution" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new evalution</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <label class="font-weight-bold">Select Student:</label>
                            <select id="ddlstudents" name="ddlstudents" class="form-control select2" style="width: 100%;">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="font-weight-bold">Select Teacher: </label>
                            <select id="ddlteachers" name="ddlteachers" class="form-control select2" style="width: 100%;">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="font-weight-bold">Select Assignment: </label>
                            <select id="ddlassignments" name="ddlassignments" class="form-control select2" readonly style="width: 100%;">
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="jumbotron">
                                <h3 class="font-weight-bold text-muted text-left">Assignment Name: <span class="text-primary" id="txtAssignmentName">N/A</span></h3>
                                <h3 class="font-weight-bold text-muted text-left">Teacher Name: <span class="text-primary" id="txtTeacherName">N/A</span></h3>
                                <h3 class="font-weight-bold text-muted text-left">Remarks: <span class="text-success" id="txtRemarks">Pending..</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success font-weight-bold" id="btnStartEva">Start Evalution...</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" 
            integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" 
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Scripts/CustomScripts/EvalutionIndex.js"></script>
}