@model IEnumerable<ProjectEvalutionSystem.Models.StudentTeacher>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-custom gutter-b">
    <div class="card-header border-0">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-chat-1 text-primary"></i>
            </span>
            <h3 class="card-label text-primary">
                Student Teacher Relationship Grid View
            </h3>
        </div>
        <div class="card-toolbar">
            <a href="/StudentTeachers/Create" class="btn btn-sm btn-primary">
                <i class="flaticon2-cube"></i> Create Relation
            </a>
        </div>
    </div>
    <div class="separator separator-solid separator-white opacity-20"></div>
    <div class="card-body">
        <div class="container">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>
                        Student
                    </th>
                    <th>
                       Teacher
                    </th>

                    <th>Actions</th>
                </tr>

                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.FullName)
                </td>
                <td>
                    <a href="/StudentTeachers/Edit/@item.ID.ToString()"><button type="button" class="btn btn-outline-warning btn-icon"><i class="la la-pencil"></i></button></a>
                    <a href="/Students/Delete/@item.ID.ToString()"><button type="button" class="btn btn-outline-danger btn-icon"><i class="la la-trash"></i></button></a>
                </td>
            </tr>
                }

            </table>

        </div>
    </div>
</div>


